[Unit]
Description=Cool GPU
After=network.target

[Service]
User=root
Type=forking
StandardOutput=journal
ExecStart=/opt/set-gpu-fans/cool_gpu
ExecStop=/usr/bin/killall cool_gpu nvscmd Xorg

[Install]
WantedBy=multi-user.target

